/* FONTS */

@import url("https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/* GLOBAL STYLES */

:root {
  --font-primary: "Poppins", sans-serif;
  --font-secondary: "Arvo", serif;
  --font-code: "Roboto", monospace;
  --bg-color: #00163f;
  --bg-color-transparent: #00163f80;
  --font-color: #ffffff;
  --btn-bg-color: #ffffff;
  --accent-color: #be7efe;
  --red-color: #890c0c;
  --gold-color: #cfa118;
  --lime-color: #8fed0b;
  --green-color: #124608;
  --lightblue-color: #09dcf8;
  --pink-color: #ff0fef;
  --blue-color: #1119f5;
  --black-color: #000000;
  --header-shadow: var(--accent-color) 0px 0px 5px;
  --card-shadow: var(--accent-color) 0px 0px 20px;
}


/* HEADER */

/* BUTTONS */

.btn {
  padding: 1rem 2rem;
  background: var(--btn-bg-color);
  color: var(--accent-color);
  font-family: var(--font-secondary);
  font-style: italic;
  font-weight: bold;
  font-size: 1rem;
  text-align: center;
  text-transform: capitalize;
  transition: all 0.3s ease;
  box-shadow: var(--header-shadow);
  cursor: pointer;
  position: relative;
  text-decoration: none;
  outline: none;
  width: 30%;
}

/* CARD */

